/**
*
* {{ properCase name }}
*
*/

import React from 'react';

{{#if wantMessages}}
import TranslatedMessage from 'components/TranslatedMessage';
import messages from './messages';
{{/if}}
import './{{ camelCase name }}.scss';

class {{ properCase name }} extends {{{ type }}} { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      <div className="{{ kebabCase name }}">
      {{#if wantMessages}}
        <TranslatedMessage messages={messages} messageId="header" />
      {{/if}}
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
